<article class="tile" itemscope itemtype="http://schema.org/Article">
  <a href="{{ site.url }}{{ event.url }}" title="{{ event.title }}" class="post-teaser">
  {% if event.image.teaser %}
  	<img src="{{ site.url }}/images/{{ event.image.teaser }}" alt="teaser" itemprop="image">
  {% else %}
    <img src="{{ site.url }}/images/{{ site.teaser }}" alt="teaser" itemprop="image">
  {% endif %}
  </a>
  {% if event.page.when %}
  <p class="entry-date date published">
  	<!--time datetime="{{ event.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
  	  {{ event.date | date: "%B %d, %Y" }}
    </time-->
    event.page.when
  </p>
  {% endif %}
  <h2 class="event-title" itemprop="name">
  	<a href="{{ site.url }}{{ event.url }}">
      {{ event.title }}
    </a>
  </h2>
  <p class="event-excerpt" itemprop="description">
    Where: event.page.where
    {{ event.excerpt | strip_html | truncate: 160 }}
  </p>
</article><!-- /.tile -->
